@import '../../styles/constants.scss';

.EditorSection {

	&-components {
		overflow: hidden;
    	background-color: $color-black-darker;
    	box-shadow: $shadow-soft-inset;
    	transition: all 0.6s ease;

    	> div {
    		padding: 20px;
    	}
	}

	&--collapsed {
		
		.EditorSection {

			&-components { 
				height: 0;
			}
		}
	}
}

.LabeledComponent {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;

	&[type="slider"] {
		display: block;
	}

	&:last-child {
		margin-bottom: 0;
	}
}