@import '../../styles/constants.scss';

.WidgetEditor {
	min-height: 100%;
	width: 33%;
	max-width: 500px;
	position: absolute;
	background: $color-black;
	color: $color-white;
	left: 0;
	top: 0;
	transform: scale(0);
	transform-origin: 20px 20px;
	transition: all 0.4s ease-in-out;

	&.open {
		transform: scale(1);
	}
	
	&-title {
		border-bottom: 1px solid $color-orange;
		background-color: $color-black-darker;
		margin: 0;
		padding: 20px 20px 20px 60px;
		color: $color-white;
		margin-bottom: 20px;
	}
}