@import '../../styles/constants.scss';

.WidgetEditor {
	height: 100%;
	width: 33%;
	max-width: 460px;
	position: absolute;
	background: $color-black;
	color: $color-white;
	left: 0;
	top: 0;
	transform: translateX(-100%);
	transition: all 0.4s ease-in-out;

	&-title {
		border-bottom: 1px solid $color-orange;
		background-color: $color-black;
		margin: 0;
		padding: 20px 20px 20px 60px;
		color: $color-white;
		margin-bottom: 20px;
	}

	&.open {
		transform: translateX(0px);
	}
}